{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeature": { "jsx": true }
  },
  "rules": {
    "no-plusplus": [0],
    "no-console": [2],
    "class-methods-use-this": [0],
    "react/forbid-prop-types": [
      1, { "forbid": ["any"] }
    ],
    "react/no-unused-prop-types": [0],
    "react/prefer-stateless-function": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] }
    ]
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "commonjs": true
  },
  "globals": {
    "fetch": true,
    "$": true
  }
}
